* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 70%;
    margin: 50px auto;
    margin-top: 100px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
}

.account-info {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-section {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.image-section img {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.upload-btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid #ccc;
}

table td {
    padding: 10px;
    font-size: 14px;
}

table td a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.logout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8d7da;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:before {
    content: "\f08b"; /* Icon for logout */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
}

.logout-btn:hover {
    background-color: #f5c6cb;
}
